<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="col-md-12">
      <button type="button" class="btn btn-success" routerLink='/profile' style="float:right"><h4>BACK</h4></button>
      <br>
  </div>
  <br><br><br>
</div>
<br>
<div class="container">
  <div class="row">
  <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/images/prepaidlogo.jpg" alt="Card image cap" height="190px" width="250px">
  <div class="card-body">
    <h3 class="card-title">PREPAID TARIFF</h3>
    <h6 class="card-text">Get to know about latest unlimited packs and data packs.</h6>
    <a routerLink="/prepaidtariff" class="btn btn-danger"><h4>Know More</h4></a>
  </div>
</div>
</div>
  <div class="col-md-4">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/assets/images/postpaidlogo.png" alt="Card image cap" height="190px" width="250px">
          <div class="card-body">
            <h3 class="card-title">POSTPAID TARIFF</h3>
            <h6 class="card-text">Get to know about latest offers and family packs.</h6>
            <a routerLink="/postpaidtariff" class="btn btn-danger"><h4>Know More</h4></a>
          </div>
        </div>
        
  </div>
  <div class="col-md-4">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/assets/images/donglelogo2.png" alt="Card image cap" height="190px" width="250px">
          <div class="card-body">
            <h3 class="card-title">INTERNET TARIFF</h3>
            <h6 class="card-text">Get to know about latest broadband services.</h6>
            <a routerLink="/internettariff" class="btn btn-danger"><h4>Know More</h4></a>
          </div>
        </div>
        
  </div>
</div>
<br>
</div>

<div class="container-fluid" style="background-color: darkslategray;color:white; height:170px">
  <div class="col-md-1">
  </div>
  <div class="col-md-3">
    <h1>Address</h1>
    <h3>No.19,Hamster street,<br>
    Kilpauk,<br>
    Chennai-46.</h3>
  </div>
  <div class="col-md-1">
    </div>
  <div class="col-md-3">
    <h1>We Offer</h1>
              <a href="/prepaidoffers"><h3 style="color:white">Prepaid offers</h3></a>
    <a href="/postpaidoffers"><h3 style="color:white">Postpaid offers</h3></a>
    <a href="/dongleoffers"><h3 style="color:white">Dongle services</h3></a>
  </div>
  <div class="col-md-1">
    </div>
  <div class="col-md-3">
    <h1>Connect with us</h1>
    <h3>
    <span class="glyphicon glyphicon-envelope"></span>&nbsp;
    <span class="glyphicon glyphicon-earphone"></span> </h3>  
    <br>
    <br><br>
          </div><br><br>
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <h2 style="text-align: center;">&copy;Copyrights reserved with Voizfonica</h2>     
</div>

<router-outlet></router-outlet>
