<div class="jumbotron" style="background-color: lightgoldenrodyellow">
    <div class="container-fluid">
        <br><br>
        <div style="float: right">
                <button type="button" class="btn btn-success" routerLink='/wallet'><h4>BACK</h4></button>
                </div>
            <h2>Select payment methods:<br><br>
            <input type="radio" name="age" value="w"> Wallet<br>
            <input type="radio" name="age" value="o"> Others<br>
            </h2> 
            <br>
            <h2>Select your bank:</h2>
            <br>
            <select>
                <option value="I"><h2>ICICI</h2></option>
                <option value="H"><h2>HDFC</h2></option>
                <option value="IN"><h2>INDIAN</h2></option>
            </select>
            <br><br>
            
            <div class="btn-group">
                <button type="button" class="btn btn-success" routerLink="/transaction"><h2>Pay Now</h2></button>
                <button type="button" class="btn btn-default" type="reset"><h2>Cancel</h2></button>
              </div>
    </div>
</div>

<div class="container-fluid" style="background-color: darkslategray;color:white; height:170px">
  <div class="col-md-1">
  </div>
  <div class="col-md-3">
    <h1>Address</h1>
    <h3>No.19,Hamster street,<br>
    Kilpauk,<br>
    Chennai-46.</h3>
  </div>
  <div class="col-md-1">
    </div>
  <div class="col-md-3">
    <h1>We Offer</h1>
        <a href="/prepaidoffers"><h3 style="color:white">Prepaid offers</h3></a>
    <a href="/postpaidoffers"><h3 style="color:white">Postpaid offers</h3></a>
    <a href="/dongleoffers"><h3 style="color:white">Dongle services</h3></a>
  </div>
  <div class="col-md-1">
    </div>
  <div class="col-md-3">
    <h1>Connect with us</h1>
    <h3>
    <span class="glyphicon glyphicon-envelope"></span>&nbsp;
    <span class="glyphicon glyphicon-earphone"></span> </h3>  
    <br>
    <br><br>
      </div><br><br>
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <h2 style="text-align: center;">&copy;Copyrights reserved with Voizfonica</h2>     
  </div>
  

