<!--The content below is only a placeholder and can be replaced.-->
  <ul class="nav nav-tabs" style="background-color:darkslategray;color:white">
  <li class="active"><a href="#" style="background-color:darkslategray; color:white"><h3>Guest User</h3></a></li>
  <li><a href="#" style="background-color:darkslategray; color:white"><h3>About us</h3></a></li>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
  <li><h2>VOIZFONICA</h2></li>
  </ul>
  <br>
<div *ngIf='fun()'>
        <div class="col-md-12">
            <a routerLink='./login' class="btn btn-info btn-lg" style="float:right">
                <span class="glyphicon glyphicon-user"></span> LOGIN
                </a>
    <!--  <button type="button" class="btn btn-success" style="float:right" routerLink="./login"><h2>LOGIN</h2></button>-->
    </div><br><br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>

      </ol>
      <div class="carousel-inner">
          <div class="item active">
            <img src="assets/images/moboff.jpg" alt="Los Angeles" width=1700px>
          </div>
        
          <div class="item" style="background-color: black">
            <img src="assets/images/img2.jpg" alt="Chicago" width=1099px height=1500px>
          </div>
          <div class="item" style="background-color: black">
              <img src="assets/images/img3.jpg" alt="Chicago" width=1099px >
              </div>
        
          </div>
      
        </div>
      
<br>
   <div class="container">
  <div class="col-md-1">
    </div>
<div class="col-md-4">
    <img src="assets/images/img6.jpg" width=500 height=300>

</div>
<div class="col-md-2">
  </div>
  <div class="col-md-4">
    <img src="assets/images/img4.png" width=500 height=300>
    </div>
    <div class="col-md-1">
      </div>
    </div>
    <br>
    <div class="container-fluid" style="background-color: darkslategray;color:white; height:170px">
      <div class="col-md-1">
      </div>
      <div class="col-md-3">
        <h1>Address</h1>
        <h3>No.19,Hamster street,<br>
        Kilpauk,<br>
        Chennai-46.</h3>
      </div>
      <div class="col-md-1">
        </div>
      <div class="col-md-3">
        <h1>We Offer</h1>
                  <a href="/prepaidoffers"><h3 style="color:white">Prepaid offers</h3></a>
        <a href="/postpaidoffers"><h3 style="color:white">Postpaid offers</h3></a>
        <a href="/dongleoffers"><h3 style="color:white">Dongle services</h3></a>
      </div>
      <div class="col-md-1">
        </div>
      <div class="col-md-3">
        <h1>Connect with us</h1>
        <h3>
        <span class="glyphicon glyphicon-envelope"></span>&nbsp;
        <span class="glyphicon glyphicon-earphone"></span> </h3>  
        <br>
        <br><br>
              </div><br><br>
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <h2 style="text-align: center;">&copy;Copyrights reserved with Voizfonica</h2>     
    </div>
     
</div>
<router-outlet></router-outlet>
