<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
      #box1{
          height:400px;
          margin:100px;
          border : 1px solid;
          padding-left:5 px;
          box-shadow: 10px 10px 10px 10px #131212;
      }
      .bg {
         
         background-image: url("signup.jpg");
       width:1120px;
        margin-left: 35px;
         height: 100%; 
       padding-top:0px;
       padding-left: 100px;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
       }
  </style>
</head>
        
      <div class="bg">
        
          <div class="row" id="box1">
              
              <div class="col-md-12">
                <div class="container">
                  <form  style="background-color: white" name="signupForm" class="j-forms login" (ngSubmit)="signupf(f)" #f="ngForm" autocomplete="off" role="form" novalidate>
                      <h1 style="text-align: center">SIGN UP</h1>
                      
                            
                          <div class="form-group">
                          <label class="control-label col-sm-3" for="Name"><h3>User Name:</h3></label>
                          <div class="col-md-10">
                          <input type="text" class="form-control" placeholder="Enter username" name="name" width="20px"><br>
                        </div></div>
                        
                        <div class="form-group">
                                <label class="control-label col-sm-3" for="Name"><h3>Mobile No:</h3></label>
                                <div class="col-sm-10">
                                <input type="number" class="form-control" id="number" placeholder="Enter phone number" name="number" #phn="ngModel" [(ngModel)]="number" pattern="[0-9]{10}" required><br>
                              </div></div>
                              <div *ngIf="!phn.valid && (phn.dirty || phn.touched)" class="error-block">
                                <div *ngIf="phn.errors.required" class="error-block">
                                    Mobile no. is required!
                                </div>
                              <small>Your password must be over 8 characters and include an unppercase letter,a number and a special character</small>
                            </div><br>
                  
                      
                              <div class="form-group">
                                    <label class="control-label col-sm-3" for="password"><h3>Password:</h3></label>
                                    <div class="col-sm-10">
                                    <input type="password"  class="form-control" id="pass" placeholder="Enter password" name="pswd" #password="ngModel" [(ngModel)]="pswd" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}" password required><br>
                                  </div></div>
                                  <div *ngIf="!password.valid && (password.dirty || password.touched)" class="error-block">
                                      <div *ngIf="password.errors.required" class="error-block">
                                          Password is required!
                                      </div>
                                    <small>Your password must be over 8 characters and include an unppercase letter,a number and a special character</small>
                                  </div><br>
                      
                          
                          <div class="form-group">
                                <label class="control-label col-sm-5" for="pwd"><h3>Confirm Password:</h3></label>
                            <div class="col-sm-10">          
                          
                              <input type="password"  class="form-control" id="pw" placeholder="Retype password" name="pwss" #confirmpassword="ngModel" [(ngModel)]="pwss" required  ><br>

                            </div>
                          </div>
                          <div *ngIf="!confirmpassword.valid && (confirmpassword.dirty || confirmpassword.touched)" class="error-block">
                            <div *ngIf="confirmpassword.errors.required" class="error-block">
                               Confirm password is required!
                          </div> 
                          <div *ngIf="confirmpassword.errors.notEqual" class="error-block">
                            Password mismatch!
                       </div> 
                          
                              
                          </div><br>
                          <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                  <label><input type="checkbox" name="remember"> <h3>Remember me</h3></label><br>
                                </div>
                              </div>
                        
                            
                               
                                    
                                  
                                      <button type="submit" class="btn btn-info"  style="float:right" [disabled]="!f.valid" routerLink="/login"><h3>Sign up</h3></button>
                            </form>
                          
                            </div></div></div></div>
                            
                            <div class="container-fluid" style="background-color: darkslategray;color:white; height:170px">
  <div class="col-md-1">
  </div>
  <div class="col-md-3">
    <h1>Address</h1>
    <h3>No.19,Hamster street,<br>
    Kilpauk,<br>
    Chennai-46.</h3>
  </div>
  <div class="col-md-1">
    </div>
  <div class="col-md-3">
    <h1>We Offer</h1>
              <a href="/prepaidoffers"><h3 style="color:white">Prepaid offers</h3></a>
    <a href="/postpaidoffers"><h3 style="color:white">Postpaid offers</h3></a>
    <a href="/dongleoffers"><h3 style="color:white">Dongle services</h3></a>
  </div>
  <div class="col-md-1">
    </div>
  <div class="col-md-3">
    <h1>Connect with us</h1>
    <h3>
    <span class="glyphicon glyphicon-envelope"></span>&nbsp;
    <span class="glyphicon glyphicon-earphone"></span> </h3>  
    <br>
    <br><br><br><br>
          </div>
          <h2 style="text-align: center;">&copy;Copyrights reserved with Voizfonica</h2>     
</div>

                            </html>