<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="col-md-10">
        <h2 style="text-align: center"><b></b></h2>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-success" routerLink='/profile'><h4>BACK</h4></button>
    </div>
</div>

<br>

<div class="container">
<div class="row">
<marquee><h2 style="color:darkblue">Hi, Username</h2></marquee>
</div>
</div>
<br><br>
<div class="container-fluid" style="background-color: lightblue">
  <ul class="nav nav-tabs">
      <li class="active"><a routerLink="#"><h2>Current Balance</h2></a></li>
      <li><a routerLink="/transactionhistory"><h2>Transaction History</h2></a></li>
      <li><a routerLink="/addmoneywallet"><h2>Add Money to Wallet</h2></a></li>
      <!---li><a routerLink="/moneytransfer"><h2>Money Transfer</h2></a></li>-->
      <li><a routerLink="/paybills"><h2>Pay Bills</h2></a></li>
    </ul>
</div>
<br>
<div class="jumbotron" style="background-color: lightgoldenrodyellow">
    <div class="container">
            <div class="row">
            <div class="col-md-8">
                
                <h2 style="text-align: center">Data Usage:70% Used</h2>
        </div>
        </div>
        <br><br>
            <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100" style="width:70%">
                      <span class="sr-only"></span>
                    </div>
            </div>
            <br><br>
            <h2 style="text-align: center">Account Balance:</h2>
            <u><h2 style="text-align: center">100Rs</h2></u>
            <br><br>
            <h2 style="text-align: center">Your pack is valid till 28 days!</h2>
    </div>
</div>

<div class="container-fluid" style="background-color: darkslategray;color:white; height:170px">
  <div class="col-md-1">
  </div>
  <div class="col-md-3">
    <h1>Address</h1>
    <h3>No.19,Hamster street,<br>
    Kilpauk,<br>
    Chennai-46.</h3>
  </div>
  <div class="col-md-1">
    </div>
  <div class="col-md-3">
    <h1>We Offer</h1>
        <a href="/prepaidoffers"><h3 style="color:white">Prepaid offers</h3></a>
    <a href="/postpaidoffers"><h3 style="color:white">Postpaid offers</h3></a>
    <a href="/dongleoffers"><h3 style="color:white">Dongle services</h3></a>
  </div>
  <div class="col-md-1">
    </div>
  <div class="col-md-3">
    <h1>Connect with us</h1>
    <h3>
    <span class="glyphicon glyphicon-envelope"></span>&nbsp;
    <span class="glyphicon glyphicon-earphone"></span> </h3>  
    <br>
    <br><br>
      </div><br><br>
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <h2 style="text-align: center;">&copy;Copyrights reserved with Voizfonica</h2>     
  </div>
  <router-outlet></router-outlet>
